$primary-hover: #c0cfff;
$primary: #4D61AC;
$primary0: #7697FF;
$primary1: #4C6AE5;
$primary2: #385BB2;
$primary3: #3D53B2;
$primary4: #3A4699;
$primary5: #303E7F;
$primary6: #283466;
$primary7: #1D284C;
$primary8: #131A33;
$primary9: #090D19;
$primary10: #05070C;

$dark: #7f7f7f;
$dark0: #727272;
$dark1: #666666;
$dark2: #595959;
$dark3: #4c4c4c;
$dark4: #45474c;
$dark5: #393b3f;
$dark6: #2e2f33;
$dark7: #2e2f33;
$dark8: #222326;
$dark9: #171719;
$dark10: #0b0b0c;





$grey4: #666666;
$grey7: #191919;


