//! Styling the tabl
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.65em;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  @include minWidth-to(sm) {
    font-size: 0.9em;
  }

  //! Styling the thead
  thead {
    tr {
      background-color: $primary7;
      color: #ffffff;
      text-align: center;
    }
  }

  th,
  td {
    padding: 5px 5px;
    text-align: center;
  }

  tbody {
    tr {
      border-bottom: 1px solid #dddddd;

      &:nth-of-type(even) {
        background-color: #f3f3f3;
      }
      &:last-of-type {
        border-bottom: 3px solid $primary5;
      }

      &:hover {
        background-color: $primary-hover;
      }
    }
  }
}
